<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{style}}">
</head>
<body>
    

    {{{body}}} <!-- Aquí se renderizan las vistas secundarias -->

    <script>
        const modeButton = document.getElementById("mode-toggle");
        let isAdmin = false;

        modeButton.addEventListener("click", () => {
            isAdmin = !isAdmin;
            modeButton.textContent = isAdmin ? "Modo: Administrador" : "Modo: Cliente";
            document.body.classList.toggle("admin-mode", isAdmin);
        });
    </script>
</body>
</html>
